# Primary data analysis: transactions

Transaction history consists of 14 columns, which are described by the table below. In this notebook, an exploratory data analysis is performed on all columns.

| Column name          | Description                                      |
|----------------------|--------------------------------------------------|
| card_id              | Card identifier                                  |
| month_lag            | month lag to reference date                      |
| purchase_date        | Purchase date                                    |
| authorized_flag      | Y' if approved, 'N' if denied                    |
| category_3           | anonymised category                              |
| installments         | number of installments of purchase               |
| category_1           | anonymised category                              |
| merchant_category_id | Merchant category identifier (anonymised)        |
| subsector_id         | Merchant category group identifier (anonymised)  |
| merchant_id          | Merchant identifier (anonymised)                 |
| purchase_amount      | Normalized purchase amount                       |
| city_id              | City identifier (anonymised)                     |
| state_id             | State identifier (anonymised)                    |
| category_2           | anonymised category                              |

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
from pprint import pprint

# Append PATH, such that methods defined in the notebooks folder can be loaded.
sys.path.append('./notebooks')

# Import Dask, which allows for parallel data processing in a Pandas-way.
import dask.dataframe as dd

from column_explore import dataframe_explore

In [3]:
transactions = dd.read_csv('../data/raw/historical_transactions.csv')

In [4]:
transactions.head()

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37

## Primary column exploration

In [ ]:
fundamental_details = dataframe_explore(transactions)

In [6]:
pprint(fundamental_details)

{'authorized_flag': {'top_values': array(['Y', 'N'], dtype=object)},
 'card_id': {'uniques': 325540},
 'category_1': {'uniques': array(['N', 'Y'], dtype=object)},
 'category_2': {'description': count    2.645950e+07
mean     2.194578e+00
std      1.531896e+00
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      4.000000e+00
max      5.000000e+00
dtype: float64,
                'uniques': array([ 1., nan,  3.,  5.,  2.,  4.])},
 'category_3': {'uniques': array(['A', 'B', 'C', nan], dtype=object)},
 'city_id': {'description': count    2.911236e+07
mean     1.293256e+02
std      1.042563e+02
min     -1.000000e+00
25%      6.900000e+01
50%      1.090000e+02
75%      2.130000e+02
max      3.470000e+02
dtype: float64,
             'uniques': 308},
 'dataframe': {'count': authorized_flag         29112361
card_id                 29112361
city_id                 29112361
category_1              29112361
installments            29112361
category_3              28934202
merchant_category_id    29112361
merchant_id             28973880
month_lag               29112361
purchase_amount         29112361
purchase_date           29112361
category_2              26459497
state_id                29112361
subsector_id            29112361
dtype: int64},
 'installments': {'description': count    2.911236e+07
mean     6.484954e-01
std      2.795577e+00
min     -1.000000e+00
25%      0.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      9.990000e+02
dtype: float64},
 'merchant_category_id': {'description': count    2.911236e+07
mean     4.810130e+02
std      2.493757e+02
min     -1.000000e+00
25%      3.070000e+02
50%      5.110000e+02
75%      7.050000e+02
max      8.910000e+02
dtype: float64,
                          'uniques': 327},
 'merchant_id': {'uniques': 326312},
 'month_lag': {'description': count    2.911236e+07
mean    -4.487294e+00
std      3.588800e+00
min     -1.300000e+01
25%     -5.000000e+00
50%     -2.000000e+00
75%     -1.000000e+00
max      0.000000e+00
dtype: float64},
 'purchase_amount': {'description': count    2.911236e+07
mean     3.640090e-02
std      1.123522e+03
min     -7.469078e-01
25%     -7.123468e-01
50%     -6.567487e-01
75%     -4.848605e-01
max      6.010604e+06
dtype: float64},
 'purchase_date': {'top_values': array(['2017-06-25 15:33:07', '2017-07-15 12:10:45',
       '2017-08-09 22:04:29', '2017-09-02 10:06:26',
       '2017-03-10 01:14:19', '2018-02-24 08:45:05',
       '2017-03-21 00:10:51', '2017-11-18 20:05:55',
       '2017-06-01 22:02:56', '2017-03-16 15:41:22',
       '2017-05-09 12:42:07', '2018-02-08 20:05:45',
       '2017-06-08 18:02:29', '2017-07-14 12:59:38',
       '2017-10-24 13:29:29', '2017-06-14 07:40:48',
       '2018-02-07 12:19:33', '2017-07-07 13:03:27',
       '2018-01-08 23:54:29', '2017-08-11 17:53:00',
       '2017-08-30 12:53:57', '2017-07-01 21:27:23',
       '2017-07-14 22:06:02', '2017-05-06 12:29:50',
       '2017-01-20 09:16:43', '2018-02-26 14:54:38',
       '2017-04-29 12:30:03', '2017-06-23 21:43:17',
       '2017-03-10 15:46:19', '2017-08-05 19:10:32',
       '2018-02-27 09:04:48', '2017-08-24 17:53:44',
       '2017-09-25 00:23:21', '2017-09-05 15:55:25',
       '2017-08-07 12:57:54', '2017-09-16 15:19:37',
       '2017-10-20 14:08:25', '2017-09-09 23:13:28',
       '2017-08-25 21:13:12', '2017-10-19 19:53:21',
       '2017-04-14 20:40:43', '2017-07-13 12:55:44',
       '2017-05-09 08:31:54', '2018-02-24 10:52:32',
       '2017-10-30 00:00:00', '2017-09-22 01:29:13',
       '2017-10-07 00:00:00', '2017-08-22 12:49:53',
       '2017-08-29 12:52:46', '2017-09-15 15:38:25'], dtype=object)},
 'state_id': {'description': count    2.911236e+07
mean     1.056679e+01
std      6.366927e+00
min     -1.000000e+00
25%      9.000000e+00
50%      9.000000e+00
75%      1.600000e+01
max      2.400000e+01
dtype: float64,
              'uniques': 25},
 'subsector_id': {'description': count    2.911236e+07
mean     2.684839e+01
std      9.692793e+00
min     -1.000000e+00
25%      1.900000e+01
50%      3.300000e+01
75%      3.400000e+01
max      4.100000e+01
dtype: float64,
                  'uniques': 41}}